body{
    margin: 0;
    padding: 0;
}

.navbar{
    display:flex;
    flex-direction: row;
    background-color: black;
    height: 50px;
    align-items: center;
}

.navbar > div:first-child{
    color: white;
    padding: 1%;
}

.navbar-right{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    color: white;
    width: fit-content;
    gap: 30px;
    padding-right: 1%;
}

.navbar-right div{
    padding: 0%;
}


.hero {
    background-color: #FF474C;
    padding: 50px;
}

.reviews-section {
    display: flex;
    justify-content: space-around;
    background-color: peachpuff;
}

.reviews-section article {
    background-color: white;
    margin: 20px;
    padding: 20px;
    width: 25%;
    border-radius: 12px;
}

.about-us-section {
    background-color: lightgreen;
    padding: 50px;
}

.featured-foods {
    padding: 50px;
}

.featured-foods > div {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-header h1{
    text-align: center;
}

.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.socials {
    margin-left: 50px;
}

.link-columns {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 100px;
    gap: 100px;
}

.link-columns > div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form div{
    display: flex;
    flex-direction: column;
}

.names{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

button{
    background-color: #1E1E1E;
    color: #FFFF;
    border-radius: 5px;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
}