body{
    margin: 0;
    padding: 0;
}

.navbar{
    display:flex;
    flex-direction: row;
    background-color: black;
    height: 50px;
    align-items: center;
}




.navbar > div:first-child{
    color: white;
    padding: 1%;
}

.navbar-right{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    color: white;
    width: fit-content;
    gap: 30px;
    padding-right: 1%;
}

.navbar-right div{
    padding: 0%;
}


.hero {
    background-color: #FF474C;
    padding: 50px;
}

.reviews-section {
    display: flex;
    justify-content: space-around;
    background-color: peachpuff;
}

.reviews-section article {
    background-color: white;
    margin: 20px;
    padding: 20px;
    width: 25%;
    border-radius: 12px;
}

.about-us-section {
    background-color: lightgreen;
    padding: 50px;
}